<!-- <html>
	<head>
		<title>Validation Form</title>
	</head>
	<body>
		<p>Hi there!</p>
    	<p>It works!</p>
	</body>    
</html> -->

<style>
	html, body {
	  font-family:"Trebuchet MS", Helvetica, sans-serif;
	  text-align:center;
	  min-width:260px;
	  color:#333;
	}
    #main{
	  margin:30px auto;
	  padding:15px;
	  border:0px solid;
	  border-radius:5px;
	  background:#eee;
	}
	img {
	  max-width: 100%; 
	  display: block; 
	  height: auto;
	  margin: auto;
	}
	#img-div {
	  margin:-5px;
	  margin-top:20px;
	  width:100%;
	  border:5px solid white;
	  background:white;
	}
	#img-caption {
	  margin:15px;
	}
	#headline {
	  margin-top:50px;
	  text-align:left;
	}
	ul {
	  max-width:550px;
	  margin:0 auto;
	  text-align:left;
	}
	li {
	  margin: 10px;
	}
	blockquote {
	  font-style: italic;
	}
</style>
<head>
	<title>Minato's page</title>
</head>
<body>
<div id="main">
	<h1 id="title">Minato Namikaze</h1>
	<div>The 4<sup>th</sup> Hokage of Konoha</div>
	<div id="img-div">
    <img id="image" src="https://imgcdn1.kwikku.com/images_users/images_article_list/75187-listicle-20171215220810.jpg" alt "Minato Namikaze">
    <div id="img-caption">
      Minato Namikaze using Rasengan.
    </div>
  </div>
  <div id="tribute-info">
    <ul>
      <h3 id="headline">Here's a time line of Dr. Borlaug's life:</h3>
      <li>Минато Намиказе (яп. 波風ミナト, Намикадзэ Минато) был Четвертым Хокаге (яп. 四代目火影, Йондаэмэ Хокаге, Буквальное значение: Четвёртая Тень Огня) Скрытого Листа. При жизни он был известен за свою скорость, что привело к появлению прозвища Желтая Вспышка Конохи (яп. 木ノ葉の黄色い閃光, Коноха но Киирой Сэнкō; Буквальное значение: Желтая Вспышка Листа). Он умер во время Атаки Девятихвостого Демона-Лиса, пожертвовав своей жизнью, чтобы запечатать часть Девятихвостого в своём новорождённом сыне, Наруто Узумаки.</li>
      <li>Минато вошел в Академию Конохи с мечтой получить уважение и признание жителей деревни, став Хокаге.[8] Когда Кушина Узумаки переехала в Коноху, она была переведена в тот же класс, что и Минато. Минато сразу же заинтересовался ее ярко-красными волосами, считая ее красивой. Минато был естественным вундеркиндом как ниндзя, подобные которому появляется только один раз в поколении.[9] Когда он выпустился из Академии его отправили в команду генинов под руководством Джирайи, Джирайя проявил особый интерес к Минато и взял его в качестве своего ученика, обучая его многим своим собственным способностям подписи. [10] Со временем исключительные навыки Минато заставили Джирайю поверить, что он может быть Ребенком Пророчества, тем, кто когда-нибудь спасет мир.</li>
      <li>Годы спустя, после того, как они закончили школу и стали ниндзя, Кушина была похищена силами Кумогакуре. Коноха отправила своих ниндзя, чтобы вернуть ее, но только Минато заметил, что красные волосы Кушины оставили позади, чтобы отметить их путь. Минато, действуя в одиночку, он спас её от похитителей. [12] На обратном пути в Коноху, Минато признался в восхищении ее волосами и ее силой [13], в результате чего Кушина, которая ранее считала Минато ненадежным и даже девчушкой [14], влюбилась в него.</li>
      <li>Минато и Кушина были парочкой с того времени, когда он спасал ее, и с его любовью Кушина смогла удержать Кураму. В конце концов они поженились. От наблюдения за Шаром Биджу Минато начал трехлетний процесс создания Расенгана, высоты преобразования формы. Он проведет остаток своей жизни, пытаясь совместить его со своей природой чакры.</li>
      <li>После того, как Минато получил звание Джоунина он был назначен лидером Команды Минато и стал сенсеем Хатаке Какаши, Учихи Обито и Рин Нохара. В аниме Третий Хокаге дал Минато особую задачу помочь Какаши преодолеть горечь, вызванную смертью его отца, и напомнить ему о человеческом элементе ниндзя. [15] Минато решил сделать испытание на колокольчики для своей команды, чтобы научить их значению командной работы. [16] Минато часто сдерживался против потрясающего Какаши, чем с Рин и Обито, поэтому они не могли получить колокольчик без совместной работы. К сожалению, Какаши понял это, но использовал только Обито и Рин в качестве средства для достижения колоколов. Тем не менее, он передал их, потому что они выполнили цель теста, работая в команде. Хотя он и побуждал их улучшить свою коллективную работу после этого, сообщение, что Обито и Рин приняли близко к сердцу, но упали на слух с Какаши.</li>
      <li>Какаши во время войны получил звание Джоунина и получил в подарок от Минато особый кунай, немного тяжелее обычного, но более быстрый и острый. Последней миссией команды на войне стало уничтожение моста Канаби, чтобы не позволить вражеским шиноби переправиться к Конохе. Так как Какаши был того же звания, что и его сенсей, Минато назначил его командиром команды, а сам отправился на другую миссию. Он без труда уничтожил вражеских шиноби из Ивагакуре и завершил свою миссию. Минато перемещается к кунаю, подаренному Какаши, и спасает его и Рин от шиноби Ивы. Выясняется, что Обито погиб, спасая их от обвала. Позже, он вместе с Какаши заканчивают миссию по уничтожению моста Канаби.</li>
      <li>В неизвестный момент, на войне его отряд столкнулся с отрядом Кумогакуре, в котором были Эй и Би. После безрезультатного сражения Минато уходит, пообещав Эю, что они встретятся ещё раз, после того как оба получат титул Каге.</li>
      <li>После окончания войны, Сарутоби Хирузен назначил Минато Четвертым Хокаге, потому что знал, что он не оставит других жителей деревни в беде и пожертвует своей жизнью ради их спасения. Другим кандидатом на пост Хокаге был Орочимару, но Сарутоби счел его методы слишком опасными для управления деревни, что и заставило саннина покинуть её..</li>
    </ul>
    <blockquote>
      <p>"Война начинается из-за нашего желания защитить тех, кто нам дорог. Вместе с любовью неотрывно существует и ненависть, а ненависть использует шиноби. До тех пор, пока существует система шиноби, этот монстр, известный как ненависть, будет порождать подобных Пейну"</p>
      <div>Minato Namikaze</div>
    </blockquote>
    <h3>If you interested in this character read more on the <a id="tribute-link" href="http://ru.naruto.wikia.com/wiki/%D0%9C%D0%B8%D0%BD%D0%B0%D1%82%D0%BE_%D0%9D%D0%B0%D0%BC%D0%B8%D0%BA%D0%B0%D0%B7%D0%B5" target="_blank">Narutopedia</a>.</h3>
  </div>
</div>
</body>
